#global{
  background-color: #cfcdcc;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 50px;
}

#numbers.btn-group-vertical{
  width: 100%;
}

#op.btn-group-vertical{
  padding-bottom: -10px;
}

#paneles{
  background-color: grey;
}

#input{
  background-color: white;
}

